body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #242323;
}

#constellations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #000000;
    text-align: center;
}
h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px #000;
}

.links a {
    margin-right: 20px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease; /* added transition */
}

.links a:hover {
    text-decoration: underline;
    color: #fff;
}
